/* Location: src/styles/CallHistory.css */
.call-history-container {
    display: flex;
}

.call-history-content {
    padding: 20px;
    background-color: #242b4a;
    flex-grow: 1;
    color: #ffffff;
    border-radius: 8px;
    margin-left: 240px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #e4e6eb;
    margin-bottom: 20px;
}

.error-message {
    color: red;
}

.call-list {
    list-style: none;
    padding: 0;
}

.call-item {
    background-color: #1e2342;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.call-item h3, .call-item p, .call-item details {
    color: #dcdde1;
    margin: 5px 0;
}

.no-history {
    color: #9ea7c2;
}
